{% extends "base.twig" %}
{% block body_custom_class %}{% endblock %}
{% block content %}

{% set vars = {
    titreHero: post.meta('block_hero_title'),
    texteHero: post.meta('block_hero_texte'),
    imageHero: post.thumbnail
} %}
{% include "includes/hero.twig" with vars %}

<div class="contenu">

        <div class="my2">
        {{ fn('seopress_display_breadcrumbs') }}
        </div>

         {{post.content}}

</div>

{% endblock %}